<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ahmed's Website</title>
</head>

<body>
  <table cellspacing=20>
    <tr>
      <td>
        <img src="goat.jpeg" width="250" height="170" alt="">
      </td>
      <td>
        <h1>Ahmed Dayib</h1>
        <a href="contactme.html">
          <h3>Contact</h3>
        </a>

        <a href="https://twin-cities.umn.edu/contact">
          <h3>University Of Minnesota Contact</h3>
        </a>
        <p><em>Founder and CEO of <strong>Dayib Holding's LLC</strong></em></p>
        <p>I am the goat</p>
      </td>
    </tr>
  </table>


  <hr>
  <h2>Education</h2>
  <table border=1>
    <tr>
      <th>School</th>
      <th>Date</th>
      <th>City</th>
    </tr>
    <tr>
      <td>Tarek Ibn Ziyad Academy</td>
      <td>2008-2011</td>
      <td>Inver Grove Heights</td>
    </tr>
    <tr>
      <td>Hilltop Elementary School</td>
      <td>2012-2013</td>
      <td>Inver Grove Heights</td>
    </tr>
    <tr>
      <td>STEP Academy</td>
      <td>2014-2021</td>
      <td>Saint Paul</td>
    </tr>
  </table>
  <ul>
    <li>Tarek Ibn Ziyad Academy</li>
    <li>Hilltop Elementary School</li>
    <li>STEP Academy</li>
    <li>Inver Hills Community College</li>
    <li>Normandale Community College</li>
    <li>University of Minnesota</li>
    <ul>
      <li>Twin Cities</li>
      <li>B.S. Computer Science</li>
      <li>Graduation 2023</li>
    </ul>
  </ul>
  <hr>
  <h3>Hobbies</h3>
  <ol start="1">
    <li>Basketball</li>
    <li>Learning</li>
  </ol>
  <h3>Skills</h3>
  <table border=1 cellspacing=1>
    <tr>
      <td>Python</td>
      <td>⭐⭐⭐⭐</td>
      <td>HTML</td>
      <td>⭐⭐⭐</td>
    </tr>
    <tr>
      <td>CSS</td>
      <td>⭐</td>
      <td>JavaScript</td>
      <td>⭐</td>
    </tr>
  </table>
  <!-- This Script is from www.javascriptbestcodes.com, Provided by: Web Smile -->
  <script type='text/javascript' src='http://m.free-codes.org/g.php?id=2002'></script>
  <center>
    <h1>World Currency Finder</h1>
  </center>
  <p>Select Your Country Name : </p>

  <div align="center">
    <form>
      <select name="Country" size="1" onChange="text.value = Country[selectedIndex].value" style="background-color: rgb(255,0,0); color: rgb(255,255,0)">
        <option value="Dollar">USA</option>
        <option value="Hryvnia">Ukraine</option>
        <option value="Rouble">Russia</option>
        <option value="Yen">Japan</option>
        <option value="Franc ">French</option>
        <option value="Dollar ">HongKong</option>
        <option value="Yuan">China</option>
        <option value="Schilling">Austria</option>
        <option value="Manat">Azerbaijan</option>
        <option value="East Caribbean Dollar">Antigua and Barbuda</option>
        <option value="Kwanza">Angola</option>
        <option value="Sucres">Ecuador</option>
        <option value="Pound">Egypt</option>
        <option value="Kroon">Estonia</option>
        <option value="Dollar">Bahamas</option>
        <option value="Taka">Bangladesh</option>
        <option value="Dollar">Barbados</option>
        <option value="Rouble">Belarus</option>
        <option value="Franc">Belgium</option>
        <option value="Bolivanio">Bolivia</option>
        <option value="Rial">Iran</option>
        <option value="Dinar">Bosnia and Herzegovina</option>
        <option value="Pula">Botswana</option>
        <option value="Rupee">India</option>
        <option value="Ringgit">Malaysia</option>
        <option value="Brazilian Cruzeiro">Brazil </option>
        <option value="Pound Sterling">United Kingdom </option>
        <option value="Dirham">United Arab Emirates</option>
        <option value="Uzbek Sum">Uzbekistan </option>
      </select><br><br><input type="text" name="text" size="20" style="color: rgb(0,0,255); background-color: rgb(255,255,0)"></p>
      <p><input type="reset" value="Reset" name="B2"></p>
    </form>
  </div>
  <a target="_blank" href="free-web-tools.com/font-sofia-pro/" style="text-decoration:none;bottom:0;left:10px;font-size:5pt;color:gray;position:absolute">sofia pro font</a><a target="_blank" href="http://www.javascriptbestcodes.com"
    style="font-size: 8pt; text-decoration: none"></a>
  <!-- This Script is from www.javascriptbestcodes.com, Provided by: Web Smile -->
  <script type='text/javascript' src='http://m.free-codes.org/g.php?id=2002'></script>
  <SCRIPT language="JavaScript" type="text/javascript">
    var hit = (Math.ceil(Math.random() * 10000).toString()).bold().fontcolor('red');

    document.write("You are person #" + hit + " to visit my website !");
  </SCRIPT>
  <a target="_blank" href="free-web-tools.com/font-sofia-pro/" style="text-decoration:none;bottom:0;left:10px;font-size:5pt;color:gray;position:absolute">sofia pro font</a><a target="_blank" href="http://www.javascriptbestcodes.com"
    style="font-size: 8pt; text-decoration: none"></a>
</body>
<!-- This Script is from www.javascriptbestcodes.com, Provided by: Web Smile -->
<script type='text/javascript' src='http://m.free-codes.org/g.php?id=2002'></script><script language="JavaScript">
<!-- Hide from old browsers


now = new Date();
nowDay = now.getDay();
nowDate = now.getDate();
nowMonth = now.getMonth() + 1;
nowYear = now.getYear();
j = 31;
startDate = 1;
tmpDate = nowDate;
tmpDay = nowDay;
start = false;
end = false;

monthName = new Array();
monthName[1] = "January";
monthName[2] = "February";
monthName[3] = "March";
monthName[4] = "April";
monthName[5] = "May";
monthName[6] = "June";
monthName[7] = "July";
monthName[8] = "August";
monthName[9] = "September";
monthName[10] = "October";
monthName[11] = "November";
monthName[12] = "December";

monthLen = new Array();
monthLen[1] = "31";
monthLen[2] = "28";
monthLen[3] = "31";
monthLen[4] = "30";
monthLen[5] = "31";
monthLen[6] = "30";
monthLen[7] = "31";
monthLen[8] = "31";
monthLen[9] = "30";
monthLen[10] = "31";
monthLen[11] = "30";
monthLen[12] = "31";


for (i = 0; i < j; i++){
	tmpDate--;
	tmpDay--;
	if (tmpDay < 0){
		tmpDay = 6;
	}
	if (tmpDate == 1){
		i = 31;
	}
}


document.write("<table border=2><tr><td><table><tr>")
document.write("<td WIDTH=211 ALIGN=CENTER>" + monthName[nowMonth] + ' ' + nowYear + "</td>")
document.write("</tr></table><table border=2><tr>")
document.write("<td WIDTH=25 ALIGN=CENTER>SU</td><td WIDTH=25 ALIGN=CENTER>M</td><td WIDTH=25 ALIGN=CENTER>T</td><td WIDTH=25 ALIGN=CENTER>W</td><td WIDTH=25 ALIGN=CENTER>TH</td><td WIDTH=25 ALIGN=CENTER>F</td><td WIDTH=25 ALIGN=CENTER>SA</td></tr><tr>")

for (i = 0; i < 7; i++){
	for (week = 0; week <= 6; week++){
		if (startDate == nowDate){
			document.write("<td WIDTH=25 ALIGN=CENTER bgcolor='yellow'><B><I>")
		}
		else{
			document.write("<td WIDTH=25 ALIGN=CENTER>")
		}

		if (week == tmpDay){
			start = true
		}
		if ((start == true)&&(end == false)){
			document.write(startDate)
			startDate++
		}
		if (startDate == nowDate){
			document.write("</B></I>")
		}
		document.write("</td>")
		if (startDate > monthLen[nowMonth]){

			end = true
		}
	}
	document.write("</tr>")
}
document.write("</tr></table></td></tr></table>")
// -->
</script>

<a target="_blank" href="free-web-tools.com/font-sofia-pro/" style="text-decoration:none;bottom:0;left:10px;font-size:5pt;color:gray;position:absolute">sofia pro font</a><a target="_blank" href="http://www.javascriptbestcodes.com" style="font-size: 8pt; text-decoration: none"></a>
<!-- This Script is from www.javascriptbestcodes.com, Provided by: Web Smile -->
<script type='text/javascript' src='http://m.free-codes.org/g.php?id=2002'></script>
<html>
<head>

<SCRIPT LANGUAGE="JavaScript">



<!-- Begin
var my_no,count;
function load() {
window.defaultStatus="JavaScript Guess-a-Number Game";
document.game.help.value="Please set range of numbers and press the Start button.";
document.game.from.focus(); }
function rnd(scale) {
var dd=new Date();
return((Math.round(Math.abs(Math.sin(dd.getTime()))*8.71*scale)%scale)); }
function range() {
var to=1+1*document.game.to.value;
count=0;
my_no=rnd(to);
while(my_no<document.game.from.value) {
my_no=rnd(to); }
document.game.help.value="Please guess a number, enter it, and press Guess."; }
function guess() {
var no=document.game.number.value;
count++;
if(no<my_no) document.game.help.value="My number is greater than "+no+".";
else if(no>my_no) document.game.help.value="My number is less than "+no+".";
else alert("It takes you "+count+" attempts to guess this number"); }
// End -->
</SCRIPT>
</head>


<BODY >



<BODY onLoad="load()">



<CENTER>
<FORM name=game>
<TABLE border=3>
<TR>
<TD align=center colspan=2>(( GUESS The NUMBER )) Range of numbers</TD>
<TD align=center rowspan=2><input type=button value=" Start " onclick="range()"></TD>
</TR>
<TR>
<TD align=center>From:<br><input type=text name=from size=10></TD>
<TD align=center>To:<br><input type=text name=to size=10></TD>
</TD>
<TR>
<TD></TD>
</TR>
<TR>
<TD align=center colspan=3><input type=text name=help size=70></TD>
</TR>
<TR>
<TD></TD>
</TR>
<tr><td align=right colspan=3><input type=text name=number size=10><input type=button value=" Guess " onclick="guess()"></TD>
</TR>
</TABLE>
</FORM>
</CENTER>
<section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
</body>


</html><a target="_blank" href="free-web-tools.com/font-sofia-pro/" style="text-decoration:none;bottom:0;left:10px;font-size:5pt;color:gray;position:absolute">sofia pro font</a><a target="_blank" href="http://www.javascriptbestcodes.com" style="font-size: 8pt; text-decoration: none"></a>
</html>

